.title{
  font-size: 140%;
}

ol.c {
    list-style-type: upper-roman;
}

.a{
  font-weight: bolder;
}

.b{
  /* font-weight: 600; */
  font-family: "Times New Roman", Times, serif;
}

.background {
       background-image:url("../baches.jpg");
       background-size: 100%;
       background-repeat: no-repeat;
       size:1080px;
       z-index: -5;
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0px;
       left: 0px}

 .layer {
        background-color: rgba(255, 255, 255, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
          }

.Times{
      font-family: "Times New Roman", Times, serif;
      font-weight: bold;
      }

.Times2{
      font-family: "Times New Roman", Times, serif;
      }

.responsive {
        width: 100%;
        height: auto;
    }

.Times3{
      font-family: "Times New Roman", Times, serif;
      font-style: italic;
    }

.spaced{
      margin-left: 15px;
      margin-right: 15px;
}
.cent{
    margin-left: auto;
    margin-right: auto;
}
