.title{
  font-size: 140%;
}

ol.c {
    list-style-type: upper-roman;
}

.a{
  font-weight: bolder;
}

.b{
  font-weight: 600;
}

.background {
       background-image:url("../fotobache.jpg");
       background-size: 100%;
       background-repeat: no-repeat;
       size:1080px;
       z-index: -5;
       position: absolute;
       width: 100%;
       height: 100%;
       top: 0px;
       left: 0px}

 .layer {
        background-color: rgba(255, 255, 255, 0.4);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
          }
